@import url("styles/cssreset.css");
@import url("styles/fonts.css");
@import url("styles/variables.css");
@import url("styles/attribution.css");

/* ------------ */
/* Page Styling */
/* ------------ */

hr {
  border-top: 1px solid var(--light-grey);
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

article {
  padding: 2rem;
}

#preparation {
  display: grid;
  row-gap: 1rem;
  padding: 1.5rem;
}

#ingredients, #instructions, #nutrition {
  display: grid;
  row-gap: 1.25rem;
}

article {
  display: grid;
  gap: 2rem;
}

/* ------------- */
/* Fonts Styling */
/* ------------- */

h1, h2 {
  font-family: "Young Serif", serif;
}

p, h3, li, table {
  font-family: "Outfit", sans-serif;
}

body {
  color: var(--wenge-brown);
  margin: 0;
}

h1 {
  font-size: 2rem;
  color: var(--dark-charcoal);
}

h3 {
  color: var(--dark-raspberry);
}

h2, .nutrition-values {
  color: var(--nutmeg);
}

/* ------------- */
/* Lists Styling */
/* ------------- */

ul, ol {
  display: grid;
  row-gap: 0.5rem;
}

ul {
  padding-left: 0.5rem;
}

ol {
  padding-left: 1.5rem;
}

ol li {
  padding-left: 1rem;
}

li:before {
  color: var(--nutmeg);
}

#preparation li:before {
  color: var(--dark-raspberry);
}

ol li::marker {
  color: var(--nutmeg);
  font-weight: bold;
}

/* https://stackoverflow.com/questions/40320541/how-to-align-marker-to-center-of-the-image-lists-html */
#preparation li, #ingredients li {
  list-style-type: none;
  display: flex;
  align-items: center;
}

#preparation li:before, #ingredients li:before {
  content: "●";
  font-size: 0.5rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}

/* ------------- */
/* Table Styling */
/* ------------- */

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid var(--light-grey);
}

tr:last-of-type {
  border-bottom: 0;
}

table td {
  padding: 0.75rem;
  padding-left: 2rem;
  padding-right: 0;
  width: 50%;
}

table td:last-of-type {
  padding: 0;
  padding-left: 0.5rem;
}
